#footer {
    position: relative;
    height: 400px;
    width: 100%;
}

#copyright {
    position: absolute;
    width: 100%;
    color: #A9A9A9;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}