@import url('https://fonts.googleapis.com/css?family=Passion+One|Playfair+Display|Roboto');

button {
	display: none;
}

.inputField {
	text-align: center;
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;
}

#quotes {
	font-size: 2em;
	font-family: 'Passion One', cursive;
	color: #191970;
}

#question {
	font-family: 'Playfair Display', serif;
	color: #191970;
}

.instructions {
	color: #191970;
	font-family: 'Playfair Display', serif;
}

span.alert {
	color: #CD5C5C;
}

div#instructionsText {
	line-height: 1%;
	font: 20px;
	padding-bottom: 20px;
}