@import url('https://fonts.googleapis.com/css?family=Passion+One|Playfair+Display');

button {
	display: none;
}

.inputField {
	text-align: center;
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;
}

#quotes {
	font-size: 2em;
	font-family: 'Passion One', cursive;
}

#verse {
	font-family: 'Playfair Display', serif;
}