@import url('https://fonts.googleapis.com/css?family=Bevan|Rammetto+One|Raleway');

.icon {
	font-size: 4em !important;
	color: #DAA520;
	padding-top: 20px;
}

h1#headline {
	font-family: 'Rammetto One', cursive;
	font-size: 4em;
	padding-bottom: 20px;
	color: #191970;
}


#categories {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align items: center;
	justify-content: center;
	color: #191970;
}

#individual-categories {
	width: 10px !important;
}

h1.category {
	font-family: 'Raleway', sans-serif;
}
